* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: azure;
  color: aliceblue;
}

h1 {
  font-weight: 300;
}

.container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.wrapper {
  background-color: brown;
  display: flex;
  width: 1140px;
  height: 500px;
}

.image-content {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 10px;
}

img {
  width: 300px;
}

.card-img {
  background-color: aliceblue;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  background-color: blue;
  padding: 10px;
  width: 100%;
}

.card-text {
  background-color: aliceblue;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 15px;
  gap: 20px;
}

.text-bio {
  font-weight: 400;
  font-size: 20px;
}
